.menu-messenger-content{
  display: flex;
  padding: 10px 10px;
  border-radius: 5px;
}
.menu-messenger-content:hover{
  background-color: rgba(0,0,0,0.1);
  translate: 0.2s ease;
  cursor: pointer;
}
.menu-messenger-content-title{
  width: 70%;
  padding: 0px 10px;
}
.menu-messenger-content-title h6{
  font-weight: 500;
  font-size: 15px;
  color: rgba(0,128,128,0.8);
  padding-top: 2px;
}
.menu-messenger-content-title p{

  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

}
.menu-messenger-content-right{
  margin-left: auto;
  padding: 0px 10px;
  text-align: center;
}
.menu-dropdown-scroll-thumb a{
  color: black;
}
.menu-dropdown-scroll-thumb a:hover{
  color: black;
}
