.layout {
  min-height: 100vh;
}

.messenger-container {
  margin-top: 64px;
  position: fixed;
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.sider-messenger-head {
  padding: 10px;
}

.sider-messenger-container {
  background: white;
  min-height: 100vh;
  width: 25%;
}

.content-messenger-container {
  width: 75%;
  background: white;
  min-height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sider-messenger-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-messenger-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 0.1px 4px rgba(0, 0, 0, 0.5);
}

.sider-messenger-title-left {
  display: flex;
  align-items: center;
}

.sider-messenger-setting {
  font-size: 26px;
  background: #f5f6f7;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sider-messenger-title-left span {
  font-size: 30px;
  font-weight: 700;
}

.sider-messenger-avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.sider-messenger-search {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.sider-messenger-search svg {
  position: absolute;
  left: 10px;
  stroke-width: 1;
  fill: rgba(0, 0, 0, 0.7);
}

.sider-messenger-search input {
  outline: none !important;
}

.sider-messenger-search input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f5f6f7;
  border-radius: 30px;
  line-height: 30px;
  padding: 2px 10px 2px 30px;
}

.sider-messenger-list-user-container:hover .sider-messenger-list-user::-webkit-scrollbar-thumb {
  background: rgba(0, 128, 128, 0.7);
}

.sider-messenger-list-user {
  transition: all 0.5s ease;
  overflow-y: scroll;
  border-right: 5px solid transparent;
}

.sider-messenger-list-user::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.sider-messenger-list-user-container:hover .sider-messenger-list-user::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.sider-messenger-list-user::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
.sider-messenger-list-user::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 128, 128);
}

.sider-messenger-list-user ul a li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  border-radius: 5px;
}

.sider-messenger-list-user ul a li.messenger_active {
  background: #f5f6f7;
  border: 1px solid rgba(0, 0, 0, 0.01);
}

.sider-messenger-list-user ul a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.sider-messenger-user-item-avatar {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sider-messenger-user-item {
  display: flex;
  align-items: center;
  width: 95%;
  overflow: hidden;
}

.sider-messenger-content {
  margin-left: 10px;
  overflow: hidden;
}

.sider-messenger-content-nearest {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}

.sider-messenger-username {
  font-size: 16px;
  font-weight: 600;
}

.sider-messenger-time-send {
  margin-left: auto;
}

.sider-messenger-status {
  width: 15px;
  height: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.sider-messenger-unread {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 128, 128);
  border-radius: 15px;
}

.content-messenger-info {
  display: flex;
  align-items: center;
}

.content-messenger-info-avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.content-messenger-option {
  font-size: 26px;
}

.content-messenger-option svg:not(:last-child) {
  margin-right: 15px;
  fill: rgba(0, 128, 128);
}

.content-messenger-option svg {
  fill: rgba(0, 128, 128);
}

.content-messenger-info-name {
  font-size: 17px;
  font-weight: 700;
}

.content-messenger-info-status {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.content-messenger-info-status span {
  margin-left: 10px;
}

.content-messenger-info-status p {
  position: absolute;
  width: 10px;
  height: 10px;
  background: green;
  border-radius: 50%;
  left: -10px;
}

.content-messenger-body {
  display: flex;
  box-sizing: border-box;
  position: relative;
}

.content-messenger-body-left {
  width: 66.66666667%;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.content-messenger-body-right {
  width: 33.33333333%;
  overflow: auto;
}

.content-messenger-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0px;
  width: 66.66666667%;
  background: white;
  padding: 10px 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.content-messenger-input svg {
  font-size: 26px;
  fill: rgba(0, 128, 128);
}

.content-messenger-input-text {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  align-items: center;
}

.content-messenger-input-text svg {
  position: absolute;
  right: 10px;
}

.content-messenger-input-text input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 5px 10px;
  background: #f5f6f7;
}

.content-messenger-input-file svg:not(:first-child) {
  margin-left: 15px;
}

.content-messenger-input-file svg:last-child {
  margin-right: 15px;
}

.content-messenger-input-react svg {
  margin-left: 15px;
}

.content-messenger-room {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: auto;
  scroll-behavior: auto;
}

.content-messenger-user-chat, .content-messenger-my-chat {
  width: 100%;
}

.content-messenger-user-chat-content, .content-messenger-my-chat-content {
  width: 40%;
  margin-bottom: 10px;
}

.content-messenger-my-chat-content {
  float: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.content-messenger-user-chat-content {
  display: flex;
  align-items: flex-end;
}

.content-messenger-input-text input {
  outline: none;
}

.content-messenger-my-chat-content p {
  background: rgba(0, 128, 128);
  color: white;
}

.content-messenger-user-chat-content p {
  background: #f5f6f7;
}

.content-messenger-my-chat-content p, .content-messenger-user-chat-content p {
  padding: 5px 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  word-break: break-word;
  margin-bottom: 0;
}

.content-messenger-user-chat-content-avatar {
  min-width: 30px;
  width: 30px;
  min-height: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.content-messenger-my-chat-content-status {
  width: 15px;
  min-width: 15px;
  min-height: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
}

.content-messenger-body-left:hover .content-messenger-room::-webkit-scrollbar-thumb {
  background: rgba(0, 128, 128, 0.7);
}

.content-messenger-room::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.content-messenger-body-left:hover .content-messenger-room::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.content-messenger-room::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
.content-messenger-room::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 128, 128);
}

.content-messenger-body-right-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.content-messenger-body-right-head {
  display: flex;
  justify-content: center;
}

.content-messenger-body-right:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 128, 128, 0.7);
}

.content-messenger-body-right::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.content-messenger-body-right:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.content-messenger-body-right::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
.content-messenger-body-right::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 128, 128);
}

.content-messenger-body-right-head-avatar {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  border-radius: 1px solid rgba(0, 0, 0, 0.1);
}

.content-messenger-body-right-list-iamge-share {
  box-sizing: border-box;
}

.content-messenger-body-right-list-iamge-share-item {
  position: relative;
  width: 50%;
  padding: 2px;
}

.content-messenger-body-right-support-title {
  font-size: 17px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.content-messenger-body-right-support-item li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px;
  cursor: pointer;
}

.content-messenger-body-right-support {
  padding: 10px;
}

.content-messenger-body-right-support-icon {
  background: #f5f6f7;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-messenger-body-right-support-icon svg {
  fill: rgba(0, 128, 128);
  stroke-width: 1;
}

.content-messenger-body-right-list-iamge-share-item i {
  background-position: 50% 50%;
  background-size: cover;
  transition-duration: 500ms;
  transition-property: width, height;
  width: 100%;
  height: 200px;
  display: block;
}

.content-messenger-body-right-support-item-title input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f5f6f7;
  padding: 5px 10px;
  border-radius: 30px;
  transition: all 0.5s ease;
}

.content-messenger-body-right-support-item-title {
  width: 100%;
}

.content-messenger-body-right-support-item-title input:focus {
  outline: none !important;
  border: 1px solid rgba(0, 128, 128, 0.5) !important;
}

.save-fakename {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 128, 128, 0.5) !important;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 14px;
}