body {
  overflow-y: scroll;
}

.layout {
  min-height: 100vh !important;
}

img {
  width: 100%;
}

.ant-layout-sider {
  background: none !important;
}

.nav-home {
  position: fixed;
  width: -webkit-fill-available;
  z-index: 10;
}

.menu-home {
  background: none !important;
  position: absolute;
  right: 0;
  margin-top: -4px !important;
  border-bottom: hidden !important;
}

.header-home {
  position: relative;
}

.search-all {
  display: flex !important;
  align-items: center !important;
  width: 30% !important;
  margin-left: 10px !important;
}

.search-all span input {
  height: 38px;
}

.search-all span span button {
  height: 38px;
  background: #f5f6f7 !important;
  color: gray;
  border: 0 !important;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-all span span button:hover {
  color: gray !important;
}

.ant-menu-item-selected, .ant-menu-item-active, .ant-menu-item-only-child {
  border-bottom: hidden !important;
  font-weight: 600;
  font-size: 20px;
}

.ant-menu-item a:hover {
  text-decoration: none;
}

.ant-menu-item-selected, .ant-menu-item-active {
  color: white !important;
}

.logo img {
  margin-bottom: 5px;
}

.avatar-home {
  align-items: center;
  max-width: 24px;
  max-height: 24px;
  overflow: hidden;
}

.avatar-home span, .home {
  font-size: 15px;
  color: white !important;
  z-index: 3;
}

.avatar-home span:hover, .home:hover {
  text-decoration: none;
  border: 0 !important;
  color: white !important;
}

.avatar-home img {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  margin-right: 5px;
}

.after-li::after {
  content: '|';
  position: absolute;
  right: -20px;
  font-weight: 300;
  color: black !important;
}

.box-info-sider-left {
  justify-content: flex-start !important;
  font-weight: 700;
  border: 0 !important;
}

.box-info-sider-left img {
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: 0 0 2px 1px black;
}

.box-option-sider-left {
  display: block !important;
}

.box-option-sider-left li {
  margin-bottom: 1px;
  border-top: 0.5px solid #f0f0f0;
  border-left: 0.5px solid #f0f0f0;
  border-right: 0.5px solid #f0f0f0;
  border-bottom: 0.5px solid #f0f0f0 !important;
  padding: 8px;
  cursor: pointer;
}

.box-option-sider-left li.active {
  background: #f5f6f7;
  border-top: 0.5px solid rgba(128, 128, 128, 0.1);
  border-left: 0.5px solid rgba(128, 128, 128, 0.1);
  border-right: 0.5px solid rgba(128, 128, 128, 0.1);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.1) !important;
}

.box-option-sider-left li.active {
  font-weight: 600;
}

.box-option-sider-left li:hover {
  background: #f5f6f7;
  border-top: 0.5px solid rgba(128, 128, 128, 0.1);
  border-left: 0.5px solid rgba(128, 128, 128, 0.1);
  border-right: 0.5px solid rgba(128, 128, 128, 0.1);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.1) !important;
}

.box-option-sider-left a:hover {
  text-decoration: none;
}

.language-app {
  background: white;
  height: 100px;
  border-radius: 2px;
}

.box-footer {
  margin-top: 10px;
  font-size: 14px;
}

.box-footer ul li {
  display: inline-block;
  margin-right: 5px;
}

.box-footer ul li a {
  color: rgba(0, 0, 0, 0.65);
}

.spin {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 257, 257);
}