.setting-menu-container{
    padding: 0 !important;
}
.setting-menu-items{
    width: 200px;
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
    padding: 10px 30px !important;
}
.setting-menu-items a{
    padding: 10px;
    font-weight: 600;
    color: black;
}
.setting-menu-items a:hover{
    text-decoration: none;

}
