.setting-menu-items{
    width: 200px;
    border-bottom: 0.5px solid rgba(0,0,0,0.1);
    height: 30px;
    padding: 5px;
}
.setting-menu-items a{
    padding: 10px;
    font-weight: 600;
    color: black;
}
.setting-menu-items a:hover{
    text-decoration: none;

}