.activity-container{
    width: 100%;
    margin-top:70px;
    padding: 10px;
    background-color: white;
}

.activity-card-header{
    width: 100%;
    padding: 10px 10px;
}
.activity-card-header h5{
    font-weight: 500;
    font-size: 15px;
}
.activity-card-main{
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 15px 5px;
    min-height: 100px;
}
.activity-action{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
}
.activity-action p{
    font-size: 15px;
    padding: 0px 7px;
}
.activity-time{
    padding: 5px 30px;
}
.activity-time a{
    display: none;
}
.activity-card-main:hover .activity-time a{
    display: block;
    color: rgba(0,0,0,0.9);
}

.activity-main-img{
    width: 300px;
    height: 150px;
    min-width: 250px;
    min-height: 150px;
    border-radius: 2px;
    overflow-x: auto;
    display: flex;
}
.activity-main-img img{
    width: 140px;
    min-width: 130px;
    height: 130px;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    align-items: center;
    padding: 10px;
}
.activity-left{
    width: 45%;
}
.activity-right{
    display: flex;
    margin-left:auto;
}
.activity-main{
    width: 40%;
    padding-left: 50px;
}
.activity-title{
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.activity-title h5{  
    font-weight: 500;
    font-size: 16px;
    color: rgba(0,128,128,0.8);
}
.activity-main-content p{
    padding: 10px 0px;
}
.activity-right-private button{
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
}