.modal-public{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999999998;
}
.presential-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999999998;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
}
.close-presential-modal{
  color: white;
  font-size: 30px;
  stroke-width:2;
  position: absolute;
  right: 10px;
  top:10px;
  cursor: pointer;
}
