.modal-create-page-private{
    padding: 10px 0px;
}
.modal-create-page-private h6{
    font-size: 14px;
    font-weight: 500;
    padding: 7px 0px;
    margin-bottom: 0;

}
.modal-create-group-group{
  margin-bottom: 15px;
}
