.ant-card-head-title{
    white-space: normal !important;
    position: relative;
    display: flex;
    align-items: center;
}
.ant-card-head{
    border-bottom: none !important;
    padding: 0 10px !important;
}
.content-post{
    padding: 0 10px 10px 10px;
}
.ant-card-cover{
    max-height: 750px;
    overflow: hidden;
}
.ant-card-body{
    padding: 10px !important;
    display: flex;
    align-items: center;
}
.ant-comment-inner{
    padding: 5px 10px 10px 10px;
}
.box-footer{
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  padding: 10px;
  margin-bottom: 10px;
}
.box-footer ul li{
    margin-bottom: 10px;
}
.box-footer span:hover{
    cursor: pointer;
    text-decoration: underline;
}
.box-your-pages-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-your-groups-item-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-your-groups-item-avatar{
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
}
.box-your-pages-item-avatar{
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
}
.box-your-pages-item-avatar img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-your-pages-title, .box-your-groups-title{
  font-size: 14px;
  font-weight: 500;
}
.box-your-groups-title{
  margin-top: 10px;
}
.box-option-sider-left a{
  transition: all 0.2s ease;
  color: rgba(0,128,128);
}
.box-your-pages-item-info{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-left: 10px;
}
.box-option-sider-left a:hover{
  color: rgba(0,128,128);
}
.ant-list-item a{
  width: 100%;
}
.menu-sider-link svg {
  margin-right: 10px;
  font-size: 20px;
}
.flag-icon{
  fill: orangered;;
}
.friend-icon{
  fill: purple;
}
.watch-icon{
  fill: red;
}
.mess-icon{
  fill: rgba(0,128,128);
}
.post-comment-container{
  padding-bottom: 10px !important;
}
.post-reaction-list{
  list-style: none;
  background: rgba(0,0,0,0.8);
  padding: 10px;
}
.post-reaction-list li a{
  color: white;
}
.send-reaction{
  position: relative;
}
.list-icon-send-reaction{
  position: absolute;
  top:-10px;
  left: 0;
  z-index: 9;
  opacity:0;
  background: white;
  border-radius: 50px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  padding: 1px 1px;
  display: flex;
  transition: top 0.2s ease;
  visibility: hidden;
}
.list-icon-send-reaction img{
  transition: all 0.2s ease;
}

.list-icon-send-reaction img:hover{
  transform: scale(1.23077) translate(0, -4px);
}

.setting-post li svg{
  margin-right: 10px;
}
.setting-post li{
  padding: 10px;
  justify-content: flex-start;
  cursor: pointer;
}
.post-setting{
  cursor: pointer;
}
.setting-post{
  background: white;
  border-radius: 2px;
}
.post-avatar{
  min-width: 50px;
  min-height: 50px;
}

.tag-more-user:hover{
  text-decoration: underline;
}
.tag-more-user{
  cursor: pointer;
}
.post-time-created{
  font-size: 12px !important;
}
.tag-more-user-list li a{
  color: white;
}
.tag-more-user-list{
  background-color: rgba(0,0,0,0.8);
  border-radius: 2px;
  padding: 5px;
}

.ant-spin-blur div{
  min-height: 0 !important;
  max-height: 0;
}
.post-content div{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  transition: all 0.2s ease;
  -webkit-box-orient: vertical;
  line-height: 25px;
}
.more-content-post{
  color: rgba(0,128,128);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.more-content-post:hover{
  text-decoration: underline;
}
.post-new-comment .ant-spin-dot{
  width: 0.7em !important;
  height: 0.7em !important;
}
.post-new-comment .ant-spin-dot-item{
  width: 5px!important;
  height: 5px!important;
}
.post-new-comment .ant-spin{
  margin-right: 10px;
}

.post-new-comment{
  position: relative;
  display: flex;
  align-items: center;
}
.post-new-comment-waiting{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.5);
}
.new-feed-empty p:first-child{
  margin-top: 10px !important;
}
.new-feed-empty{
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  padding: 10px;
}
.count-new-post svg{
  fill: green;
  font-size: 20px;
  margin-right: 10px;
}
.count-new-post{
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
}
.err-new-post svg{
  fill: red;
  font-size: 20px;
  margin-right: 10px;
}
.err-new-post{
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 2px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
}

.post-share-container{
  padding: 10px 20px;
  margin: 10px 10px 0 10px;
  border-top: 1px solid rgba(0,0,0,0.5);
  border-left: 1px solid rgba(0,0,0,0.5);
  border-right: 1px solid rgba(0,0,0,0.5);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.setting-comment-post{
  margin-left: 20px;
  cursor: pointer;
}
.setting-comment-post-tooltip div:hover{
  text-decoration: underline;
}
.setting-comment-post-tooltip{
  background: rgba(0,0,0,0.7);
  border-radius: 2px;
  cursor: pointer;
  padding: 5px 10px;
}
