.help-container{
    margin-top: 70px;
    padding: 5px;
    width: 100%;
    background-color: white;
    min-height: 70vh;
}
.help-main{
    margin:8% 15%;
    display: flex;
}
.help-question{
    width: 44%;
}
.help-question h5{
    font-weight: 700;
    font-size:20px;
    padding:0px 15px;

}
.help-question ul{
    padding:15px 10px;

}
.help-question ul li{
    list-style: none;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: rgba(0,128,128,0.9);
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.help-question ul li:nth-child(odd) {
    transform: scale(1) translate(0, 0);
    animation-name: help-question-odd;
    animation-duration: 2s;
}
.help-question ul li:nth-child(even) {
    transform: scale(1) translate(0, 0);
    animation-name: help-question-event;
    animation-duration: 2s;
}
@keyframes help-question-odd {
    0%   {transform: scale(0.5) translate(-100%, -100%);}
    100% {transform: scale(1) translate(0, 0);}
  }
  @keyframes help-question-event {
    0%   {transform: scale(0.5) translate(100%, 100%);}
    100% {transform: scale(1) translate(0, 0);}
  }

.help-question ul li:hover {
    background-color: rgba(0,128,128,0.7);

}
.help-question ul li a, .help-question ul li a:hover{
    display: block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.help-banner {
    width: 50%;
    margin-left: auto;
}
.help-banner img{
    width: 100%;
}
