.friends-requests-all {
    width: 100%;
  }
  .friend-requests-container{
    margin: 0 auto;
    width: 1140px;
    background-color: white;
    border: rgba(0, 0, 0, 0.1) 1px solid;
    min-height: 100vh;
  }
  .friend-requests-title{
    margin-top:10px ;
    padding: 10px;
    border-bottom: rgba(0, 0, 0, 0.1) 0.05px solid;
  }
  .friend-requests-title h4{
    font-weight: 500;
  }
  .friend-requests-title a{
    color: rgba(0,128,128);
    text-decoration: none;
  }
  .friend-requests-item-container {
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px;
  }

  .friend-requests-item-container, .friend-requests-item-left, .friend-requests-item-right {
    display: flex;
    align-items: center;
    padding: 5px;
  }

  .friend-requests-item-right {
    margin: 10px;
  }
  .friend-requests-item-right button {
    margin: 2px;
  }
  .friend-requests-item-right .friend-requests-accept-btn{
    background-color: rgba(0,128,128);
    color: white;
  }
  .friend-requests-item-right .friend-requests-accept-btn:hover{
    background-color: rgba(0,128,128,0.8);
    color: white;
  }
  .friend-requests-item-right .friend-requests-refuse-btn{
    background-color: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.7);
  }
  .friend-requests-item-right .friend-requests-refuse-btn:hover{
    background-color: rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.7);
  }
  .friend-requests-item-right button {
    padding: 2px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #4b4f56;
    background: #f5f6f7;
  }

  .friend-requests-item-avatar {
    width: 85px;
    height: 85px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #ddd;
  }

  .friend-requests-item-name a {
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 128, 128);
  }


  .friend-requests-item-info {
    margin-left: 10px;
  }
  .friend-queue-item-info {
    margin-left: 15px;
  }

  .friend-requests-mutual-friends{
    color: #90949c;
    font-size: 14px;
    display: flex;
    margin-right: 5px;
  }
  .friend-mutual-avatar{
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    overflow: hidden;
  }
  .friend-mutual-avatar img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
    align-items: center;
  }
  .friend-queue-mutual-friends{
    color: #90949c;
    font-size: 14px;
  }
  .friend-requests-mutual-friends img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .friend-requests-mutual-friends span{
    margin-left: 10px;
    color:  rgba(0, 0, 0, 0.8);
    text-decoration: none;
  }
  .friend-requests-item-right .ant-spin-dot-item{
    width: 5px !important;
    height: 5px !important;
  }
.friend-requests-item-right .ant-spin-dot{
  width: 0.5em !important;
  height: 0.5em !important;
  margin-left: 5px;
}
