.login-two-container{
  width: 100%;
  height: 100vh;
  margin-top: -64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-two form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-two{
  margin-top: -200px;
  background: white;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 20px;
}
.login-two h2{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0,128,128);
}
.form-login-two-group{
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
  width: 300px;
}
.form-login-two-group input, .form-login-two-group button{
  padding: 3px 5px;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  line-height: 40px;
  width: 100%;
  font-size: 17px;
}
.form-login-two-group button{
  background: rgba(0,128,128);
  transition: all 0.2s ease;
  color: white;
  font-weight: 600;
}
.form-login-two-group button:hover{
  background: rgba(0,128,128, 0.8);
}
.error_login_two{
  position: absolute;
  right: 15px;
}
.forget-password{
  color: rgba(0,128,128);
  cursor: pointer;
}
.forget-password:hover{
  text-decoration: underline;
}
.login-two-message{
  color:red;
  font-weight: 500;
}
